body {

    font-family: 'Montserrat', sans-serif;
	width: 100%;
	overflow-x: hidden;
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
}

body.modal-open .container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

.recipe_case{
	overflow: hidden;
}

.recipe_case img{
	width: 100%;
	height: 100%;

}

img:hover {
	border: solid 1px transparent;
}

.img_modal{
	width: 100%;
	height: 100%;
}

/*#m_body_food1 {
	background-image: url(../img/m_food1.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}*/

#modal-body1 {
   background-image: url(../img/m_food1.jpg);
   background-size: 100%;
}
#modal-body2 {
   background-image: url(../img/m_food2.jpg);
   background-size: 100%;
}
#modal-body3 {
   background-image: url(../img/m_food3.jpg);
   background-size: 100%;
}
#modal-body4 {
   background-image: url(../img/m_food4.jpg);
   background-size: 100%;
}
#modal-body5 {
   background-image: url(../img/m_food5.jpg);
   background-size: 100%;
}
#modal-body6 {
   background-image: url(../img/m_food6.jpg);
   background-size: 100%;
}

#hidden{
	visibility: hidden;
	z-index: -1;
}
