@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {

    font-family: 'Montserrat', sans-serif;
	width: 100%;
	overflow-x: hidden;
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
}

body.modal-open .container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.recipe_case{overflow: hidden;}

.recipe_case img{
	width: 100%;
	height: 100%;

}

 .c_img:hover {border: solid 3px transparent;}

.img_modal{
	width: 100%;
	height: 100%;
}

#modal-body1 {
   background-image: url(../img/m_food1.jpg);
   z-index: -1;
   background-size: 100%;
}
#modal-body2 {
   background-image: url(../img/m_food2.jpg);
   background-size: 100%;
}
#modal-body3 {
   background-image: url(../img/m_food3.jpg);
   background-size: 100%;
}
#modal-body4 {
   background-image: url(../img/m_food4.jpg);
   background-size: 100%;
}
#modal-body5 {
   background-image: url(../img/m_food5.jpg);
   background-size: 100%;
}
#modal-body6 {
   background-image: url(../img/m_food6.jpg);
   background-size: 100%;
}

#hidden{
	visibility: hidden;
	z-index: -1;
}

.m_btn{
	border: solid 2px #9FDDCE;
	color: white;
  	border-radius: 200px;
  	font-weight: 700;
  	text-transform: uppercase;
  	background-color: #9FDDCE;
  	padding: 10px;
  	margin: 5%;
}

ul li{
	display:block;
	float: left; 
 	text-decoration:none;
 	text-align:center;
 	padding: 5%;
}

ul{list-style-type: none;}

#controls {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10%;
}

.load{width: 50%;}

.ok {width: 100%;}

#lien {float: right;}

.pop_img{
	width: 100%;
	padding: 0;
}
