body {

	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
}

body.modal-open .container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

.recipe_case{
	overflow: hidden;
}

.recipe_case img{
	width: 100%;
	height: 100%;

}

img:hover {
	border: solid 1px white;
}

.img_modal{
	width: 100%;
	height: 100%;
}

#m_body_food1 {
	background-image: url(../img/m_food1.jpg);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
